@charset "UTF-8";

:root {
    --purple-medium: #d899dd;
    --purple-light: #e3abe1;
    --sky-teal: #76e9e3;
    --sky-blue: #93cafa;
    --light-green: #b6e18b;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--purple-medium);
    padding: 20px;
    border-radius: 10px;
    min-width: 860px;
}

#textgen-main-content {
    background-color: var(--purple-light);
    padding: 20px;
}

#title {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

#subtitle {
    text-align: center;
    margin: 15px auto;
}

input, select, option, textarea {
    font-size: 0.8em;
    padding: 2px 6px;
}

textarea{
    margin-top: 6px;
    resize: none;
    width: 95%;
    padding: 5px;
}

form {
    display: flex;
}

#text-input{
    width: 60%;
}

#forms {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-item {
    margin: 10px 0px;
}

select{
    margin-top: 6px;
}

.btn {
    padding: 10px;
    min-width: 90px;
    margin: 6px;
    background-color: var(--purple-medium);
    border: 1px solid grey;
    font-size: medium;
    border-radius: 3px;
}

#homeButton {
    background-color: #999999;
    color: white;
    border-radius: 3px;
    padding: 0.5em 1em;
    border: 1px solid #999999;
}

#homeButton:hover {
    border: 1px solid black;
}